{% extends 'ApiMapBundle:Default:index.html.twig' %}  
            <div class="container"> 
                <form id="form" class ="well">
                 
                        <label>User Name</label>
                        <input type="text" value ="" class="input-xLarge">
                        <label>Password</label>
                         <input type="text" value ="" class="input-xLarge">
                      <button class="btn btn-primary">Create Account</button>
                    </div>
                </form>
            </div>
